@page
@using PermissionEx.Logic
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" />

<!-- page container area start -->
<div class="page-container">
    <!-- main content area start -->
    <div class="main-content">
        <div style="border-bottom: solid 1px; height: 50px; padding-top: 5px;" class="page-title-area">
            <div style="float: left" class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    @{
                        if (PageManager.currentGuild == null)
                        {
                                    <h4 class="page-title pull-left">Dashboard</h4>
                        }
                        else
                        {
                                    <div style="float: left; width: 10%; margin-right: 5px; border-style: solid; border-width: 2px; border-radius: 30px" class="single-report mb-xs-30">
                                        <input type="button" style="width: 100%; margin-right: 3px; height: 100%;" ID="btnSelectServerJS" onclick="callRemoveServerCSMethod();" value="◄ Back" />
                                    </div>
                                    <center><img style="float: left; border-radius: 100%; " src=@PageManager.currentGuild.image width="32" height="32" /></center>
                            var name = PageManager.currentGuild != null ? PageManager.currentGuild.Name : "Current Guilds";
                                    <p style="float: left;" class="page-title pull-left">@name</p>
                        }

                                <div style="float: left" class="search-box pull-left">
                                    <form action="#">
                                        <input type="text" name="search" placeholder="Search..." required>
                                        <i class="ti-search"></i>
                                    </form>
                                </div>

                        if (PageManager.currentGuild != null)
                        {
                                    <div style="border-style: solid; border-width: 2px; border-radius: 30px" class="single-report mb-xs-30">
                                        <input type="button" style="float: left; position:relative; width: 20%; margin-right: 3px; height: 100%;" ID="btnSelectServerJS" onclick="callApplyCSMethod();" value="Apply" />
                                    </div>
                        }
                    }
                </div>
            </div>
            <div style="float: right;" class="col-sm-6">
                <div class="user-profile pull-right">
                    <img class="avatar user-thumb" src="~/images/author/avatar.png" alt="avatar">
                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content-inner">
            <button value="test" asp-action="btnSelect_Click">Test Button</button>
        </div>
    </div>
</div>